%h1 Listing followings
%table
  %tr
  - for following in @followings
    %tr
      %td= link_to 'Show', following
      %td= link_to 'Edit', edit_following_path(following)
      %td= link_to 'Destroy', following, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New following', new_following_path
