.DS_Store
.project
.rvmrc
.idea
.bundle
*.git
vendor/plugins/rails_css_refactor
vendor/plugins/i18n_to_tr8n
log/*
.metadata
tmp/**/*
tmp/restart.txt
public/pictures/**/*
config/*.pem
config/contacts.yml
db/sphinx/*
config/development.sphinx.conf
config/database.yml
solr/index
solr/*.pid
.tmp*
tmp/
*.sql
public/assets/
public/production/*
public/development/*
public/system
public/system/*
public/development
public/production
workers/video/config/worker.yml
private/*
*.log
*.output
*.pid
.sass-cache/
