.idea_listing{:id => "idea_#{@idea.id}"}
  .row
    .large-6.columns
      - unless (controller_name == "home" && action_name == "world") or @skip_sub_navigation
        = render :partial => "shared/sub_navigation"
    .large-6.columns
      = render :partial => "ideas/idea_next", :locals => {:idea => @idea}
  .row
    .large-12.columns
      = render :partial => "ideas/idea_container", :locals => {:idea => @idea, :endorsement => @endorsement, :value => 0, :noaction=>true}

