- if ["show","top_points","discussions"].include?(action_name) and next_idea = User.next_idea(idea)
  .next_idea_container{:style=>"width:580px;height:34px;padding:5px;background-color:#fff;float:right;margin-bottom: 15px;"}
    .next_idea{:style=>"float:right;"}
      .next_idea_text{:style=>"padding-top:2px;padding-right:14px;float:left;"}
        .next_idea_next_link_text{:style=>"padding-top:5px;float:left"}
          = tr("Next:","here")
          = link_to next_idea.show_url do
            = truncate(next_idea.name, length: 60, separator: ' ')
      .next_idea_image{:style=>"float:right;"}
        - if next_idea.category and next_idea.category.icon
          = link_to(image_tag(next_idea.category.icon.url(:icon_50), :size => "30x30", :border => 0), next_idea.category.to_url,
                                                                     :alt=>next_idea.category.name, :title=>next_idea.category.name)