.col-half
  .col-content.point_for
    %div
      - unless @points_new_up.empty?
        #pro_new
          = render :partial => "points/short_list", :locals => {:points_value=>1, :newest_points=>true, :id => "pro_new", :points => @points_new_up, :numbering=>false}
      #pro_top
        = render :partial => "points/short_list", :locals => {:points_value=>1, :id => "pro_top", :points => @points_top_up, :numbering=>true}
.col-half
  .col-content.point_against
    %div
      - unless @points_new_down.empty?
        #con_new
          = render :partial => "points/short_list", :locals => {:points_value=>-1, :newest_points=>true, :id => "con_new", :points => @points_new_down, :numbering=>false}
      #con_top
        = render :partial => "points/short_list", :locals => {:points_value=>-1, :id => "con_top", :points => @points_top_down, :numbering=>true}
