- if endorsements
  - endorsement = endorsements.detect {|e| e.idea_id == idea.id }
.top_level_idea_listing{:id => "idea_#{idea.id}"}
  = render :partial => "ideas/idea_container", :locals => {:idea => idea, :endorsement => endorsement, :value => 0}
  %div{:id => "idea_detail_#{idea.id}"}
