%div{:style => "width:auto;"}
  %ul
    %li.list_left
      #hp_intro= @page_title
  %ul
.clear
.white_line
- if @ideas.any?
  - @ideas.each do |idea|
    = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements, :timeago => true}
  = will_paginate @ideas
