:css
  body {
      font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      background-color: #fff;
  }
- if defined?(attachments)
  = image_tag attachments['logo.png'].url, :alt=>@instance.name
%p
  = "#{tr("Hi","email")} #{@recipient.first_name_detected},"