= render :partial=>"user_mailer/header", formats: [:html]
%p Someone has requested a link to change your password, and you can do this through the link below.
%p= link_to 'Change my password', "https://#{@instance.base_url_w_sub_instance}/users/password/edit?reset_password_token=#{@token}"
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
