%img.notification_icon{:border => "0", :height => "16", :src => "#{asset_path "/assets/icons/chart_organisation.png"}", :width => "16"}/
= tr("{sender_name} accepted your invitation to join {instance_name}", "view/notifications/_notificationinvitationaccepted", :sender_name => link_to(notification.sender_name, notification.sender), :instance_name => current_instance.name)
