%img.notification_icon{:border => "0", :height => "16", :src => "#{asset_path "/fugue/door_open.png"}", :width => "16"}/
= tr("Voting has started on {new_idea_name} acquiring {idea_name}. <a href='{vote_url}'>Vote now</a>!", "view/notifications/_notificationchangevote", :new_idea_name => link_to(notification.notifiable.change.new_idea.name, notification.notifiable.change.new_idea), :idea_name => link_to(notification.notifiable.change.idea.name, notification.notifiable.change.idea), :vote_url => idea_change_url(notification.notifiable.change.idea,notification.notifiable.change))
