- if user.has_picture?
  = image_tag user.buddy_icon.url(:icon_48), :size => "30x30", :width=>"30", :border => 0, :alt => ""
- elsif user.facebook_uid
  = fb_profile_pic user.facebook_uid, :facebook_logo=>false, :linked=>false, :size=>"square", :height=>"30",:width=>"30"
- else
  = image_tag current_instance.buddy_icon.url(:icon_48), :size => "30x30", :border => 0, :alt => ""

