.profile_picture48
  - if @user.has_picture?
    %a{:href => url_for(@user)}
      = image_tag @user.buddy_icon.url(:icon_48), :size => "48x48", :border => 0
  - elsif current_facebook_user_if_on_facebook and @user.has_facebook?
    %a{:href => url_for(@user)}
      %fb:profile-pic{:border => "0", :linked => "false", :size => "small", :uid => @user.facebook_uid, :width => "48px"}/
  - elsif user_signed_in? and @user.id == current_user.id
    = link_to image_tag("upload_pic.gif", :size => "48x48", :border => 0), picture_settings_url
  - else
    .image_48
      = image_tag current_instance.buddy_icon.url(:icon_48), :size => "48x48", :border => 0, :alt => ""
