-#= render :partial => "points/header"
%p
  - if @points.empty?
    = tr("No points yet.", "view/users/points")
  - else
    - for point in @points
      - quality = nil
      - if @qualities
        - quality = @qualities.detect {|e| e.point_id == point.id }
      = render :partial => "points/show_full", :locals => {:point => point, :quality => quality, :revision => nil}
    %p
      = will_paginate(@points)
