Lokað hefur verið fyrir aðgang þinn að
%a{:href => "/"} viðræður.is
og ummæli þín fjarlægð af vefsíðunni vegna brota á
= succeed "." do
  %a{:href => "/skilmalar"} notkunarreglum vefsins
Hafir þú athugasemd við þessa ákvörðun er þér vinsamlegast bent á að hafa samband við umsjónarmenn vefsins með því að senda póst á netfangið
= succeed "." do
  %a{:href => "vidraedur@mfa.is"} vidraedur@mfa.is
