- if @idea and @idea.name and SubInstance.current.short_name.include?("nhs")
  #active_citizen_news_container{:style=>"display:none;"}
    .row
      .large-12.columns
        .panel
          %h5
            = tr("Relevant news stories","here")
          #active_citizen_news
          #active_citizen_news_more{:style=>"display:none;"}


    :javascript
      $.ajax({
          type: "GET",
          url: "https://active-citizen.yrpri.org/experiments/match_from_url?url=#{Rails.env.development? ? 'https://nhs-citizen.yrpri.org/ideas/'+@idea.to_param : @idea.show_url}",
          dataType: "json",
          success: function(data){
              $("#active_citizen_news_container").show();
              $.each(data, function( index, webpage ) {
                if (index==3) {
                  $("#active_citizen_news").append('<center><h1 id="ac_more"><a href="#" onclick="$('+'\'#active_citizen_news_more\').toggle();$('+'\'#ac_more\').hide()">+</a></h1></center>');
                }
                $(index>=3 ? "#active_citizen_news_more" : "#active_citizen_news").append('<a target="_blank" href="'+webpage.url+'">'+webpage.title.replace("BBC News - ","").replace("| From the Observer | The Observer","")+'</a><br/><br/>')
              });
          }
      });
