:javascript
  var _gaq = _gaq || [];
- if Instance.current and Instance.current.google_analytics_code and Instance.current.google_analytics_code != ""
  :javascript
    _gaq.push(['_setAccount', '#{Instance.current.google_analytics_code}']);
    _gaq.push(['setDomainName', '#{Instance.current.domain_name}']);
    _gaq.push(['_trackPageview']);
- if SubInstance.current and SubInstance.current.google_analytics_code and SubInstance.current.google_analytics_code != ""
  :javascript
    _gaq.push(['b._setAccount', '#{SubInstance.current.google_analytics_code}']);
    _gaq.push(['b._trackPageview']);
:javascript
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();