= stylesheet_link_tag "application"
:css
  .sprite_clip {background-image: url(#{SubInstance.current.menu_strip_side_url}) !important}
  .top-banner-custom {background-image: url(#{SubInstance.current.top_banner_url}) !important}
- if SubInstance.current.custom_css
  :css
    #{SubInstance.current.custom_css}