- if params[:controller] == 'ideas' and @idea
  %meta{:content => tr("{idea_name}", "view/shared/_description", :idea_name => @idea.name), :itemprop => "name"}/
  - if false and @idea.category and @idea.category.icon
    %meta{:content => @idea.category.icon.url(:icon_200), :property => "og:image"}/
  - else
    %meta{:content => current_sub_instance.logo_url, :itemprop => "image"}/
- elsif params[:controller] == 'users' and @user and @user.has_top_idea?
  %meta{:content => tr("{user_name} top idea for: {idea_name}", "view/shared/_description", :user_name => @user.name, :idea_name => Idea.unscoped.find(@user.top_endorsement.idea_id).name, :name => "description")}
- else
  %meta{:content => current_sub_instance.name, :itemprop => "name"}/
  %meta{:content => current_sub_instance.logo_url, :itemprop => "image"}/
  %link{:href => current_sub_instance.logo_url, :rel => "image_src"}/
