%p= tr("This part of the website is only open for viewing in your country except if you have a login registered in this country. If you are abroad and need access to the website please have a friend or family sign up for you and send you the login information.","views/hared/_login")
