- if page = Page.where(:name=>"right_nav_help").first or page = Page.unscoped.where(:name=>"right_nav_help").first
  %a{:href => "/pages/#{page.id}", :target => '_blank'}
    = tr("Instructions", "view/users/_form")