:plain
  <Polygon>
            <outerBoundaryIs>
              <LinearRing>
                <coordinates>
                #{coordinates}
                </coordinates>
              </LinearRing>
            </outerBoundaryIs>
          </Polygon>