:plain
  <?xml version="1.0" encoding="UTF-8"?>
  <kml xmlns="http://www.opengis.net/kml/2.2">
    <Document>
      <Style id="HasIdeaStyle">
        <BalloonStyle>
          <text>$[description]</text>
        </BalloonStyle>
        <PolyStyle>
           <color>550CDDFF</color>
          <colorMode>normal</colorMode>
          <fill>1</fill>
          <outline>0</outline>
        </PolyStyle>
        <LineStyle>
          <color>ff666666</color>
          <colorMode>normal</colorMode>
          <width>0</width>
        </LineStyle>
        <IconStyle>
          <color>FFFFFFFF</color>
          <scale>1.1</scale>
          <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
          <Icon>
            <href>http://maps.google.com/mapfiles/kml/paddle/red-blank_maps.png</href>
          </Icon>
        </IconStyle>
      </Style>
      <Style id="NoIdeaStyle">
        <BalloonStyle>
          <text>$[description]</text>
        </BalloonStyle>
        <PolyStyle>
          <color>00666666</color>
          <colorMode>normal</colorMode>
          <fill>1</fill>
          <outline>0</outline>
        </PolyStyle>
        <LineStyle>
          <color>00666666</color>
          <colorMode>normal</colorMode>
          <width>0</width>
        </LineStyle>
        <IconStyle>
          <color>FFFFFFFF</color>
          <scale>1.1</scale>
          <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
          <Icon>
            <href>http://maps.google.com/mapfiles/kml/paddle/red-blank_maps.png</href>
          </Icon>
        </IconStyle>
      </Style>
      <Folder id="Fusiontables">
