.row
  .large-12.columns
    .panel
      %h1
        = tr("Thank you for your eStartup donation :)","here")

      %h2
        Now help us make the project succesful by sharing it on Facebook, Twitter or whatever