#hp_intro= @page_title
%p
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:valign => "top", :width => "160"}
        = render :partial => "nav"
      %td{:style => "padding-left: 20px;", :valign => "top"}
