%p
  - if endorsement and endorsement.is_active?
    %p
    = tr("Your {position} idea.", "view/endorsements/_position", :position => endorsement.position)
  %span.tag_button
    = link_to tr("change", "view/endorsements/_position"), edit_endorsement_url(endorsement, :region => "idea_left"),
        :remote=>true,
        'data-disable-with' => "",
        'data-loader-name' => "circle",
        :method => :get
