%h1 Listing categories
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @categories.each do |category|
    %tr
      %td
        = category.name
      - unless category.sub_instance.short_name=="default" and not current_user.is_root?
        %td= link_to 'Edit', edit_category_path(category)
%br/
%p
  = tr("You can not edit default categories - when you create your first custom category all the default categories will disappear.","here")
= link_to 'New Category', new_category_path
