/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/cancel.png", :width => "16"}/
= raw tr("Buried {idea_name}. It's probably obvious why.", "view/activities/_activityideabury_nouser", :idea_name => link_to(activity.idea.name, activity.idea))
