/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/coins_add.png", :width => "16"}/
= raw tr("Received a refund of {capital}{currency_short_name} because no vote will be held on {new_idea_name} acquiring {idea_name}", "view/activities/_activitycapitalacquisitionproposaldeleted_nouser", :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :new_idea_name => link_to(activity.change.new_idea.name, activity.change.new_idea), :idea_name => link_to(activity.idea.name, activity.idea))
