- if activity.revision.has_other_idea?
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comments_add.png", :width => "16"}/
  = raw tr("{user_name} linked {point_name} to {idea_name}", "view/activities/_activitypointrevisionotheridea_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.point.name, point_revision_url(activity.point,activity.revision)), :idea_name => link_to(activity.revision.other_idea.name, activity.revision.other_idea))
  \.
- else
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comments_delete.png", :width => "16"}/
  = raw tr("{user_name} removed the idea link from {point_name}", "view/activities/_activitypointrevisionotheridea_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.point.name, point_revision_url(activity.point,activity.revision)))
  \.
