/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/user_add.png", :width => "16"}/
= raw tr("Following {other_user_name}", "view/activities/_activityfollowingnew_noself", :user_name => link_to(activity.user.login, activity.user), :other_user_name => link_to(activity.other_user.login, activity.other_user))
