/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/star_empty.png", :width => "16"}/
= tr("{idea_name} failed", "model/activity", :idea_name => link_to(activity.idea.name, activity.idea))
