/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/cross_small.png", :width => "16"}/
= raw tr("No longer finds {point_name} helpful", "view/activities/_activitypointhelpfuldelete_nouser", :point_name => link_to(activity.point.name, activity.point))
