/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/error.png", :width => "16"}/
= raw tr("Flagged {idea_name} for review", "view/activities/_activityideaflaginappropriate_nouser", :idea_name => link_to(activity.idea.name, activity.idea))
