/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/delete.png", :width => "16"}/
= raw tr("{user_name} no longer endorses", "view/activities/_activityendorsementdelete_noself", :user_name => link_to(activity.user.login, activity.user), :idea_name => link_to(activity.idea.name, activity.idea))
