/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/delete.png", :width => "16"}/
= raw tr("Stopped endorsing {idea_name}", "view/activities/_activityendorsementdelete_nouser", :idea_name => link_to(activity.idea.name, activity.idea))
