- if activity.attribute_present?("position")
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/medal_#{activity.position > 100 ? "bronze_3.png" : "gold_3.png"}", :width => "16"}/
  = raw tr("{user_name} debuted on the most influential chart at {position}", "view/activities/_activityuserrankingdebut_noself", :user_name => link_to(activity.user.name, activity.user), :position => number_with_delimiter(activity.position))
- else
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/medal_gold_3.png", :width => "16"}/
  = raw tr("{user_name} debuted on the most influential chart", "view/activities/_activityuserrankingdebut_noself", :user_name => link_to(activity.user.name, activity.user))
