/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comment_edit.png", :width => "16"}/
= raw tr("{user_name} revised {idea_name}", "view/activities/_activityidearevisiondescription_noself", :user_name => link_to(activity.user.login, activity.user), :idea_name => link_to(activity.idea.name, idea_idea_revision_url(activity.idea,activity.idea_revision)))
