/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comment_edit.png", :width => "16"}/
= raw tr("{user_name} renamed {idea_name}", "view/activities/_activityidearenamed", :user_name => link_to(activity.user.login, activity.user), :idea_name => link_to(Idea.unscoped.find(activity.idea_id).name, Idea.unscoped.find(activity.idea_id)))
