/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/star_half.png", :width => "16"}/
= t('activity.idea.official_status.compromised.name', :idea_name => link_to(activity.idea.name, activity.idea))
