/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/plus_small.png", :width => "16"}/
= raw tr("Marked {point_name} helpful", "view/activities/_activitypointhelpful_nouser", :point_name => link_to(activity.point.name, activity.point))
