/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/sticky_note_pin.png", :width => "16"}/
= raw tr("{user_name} posted a bulletin to {other_user_name} profile", "view/activities/_activitybulletinprofileauthor", :user_name => link_to(activity.user.login, activity.user), :other_user_name => link_to(activity.other_user.name.possessive, activity.other_user))
