/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/cross_small.png", :width => "16"}/
= raw tr("Marked {point_name} unhelpful", "view/activities/_activitypointunhelpful_nouser", :point_name => link_to(activity.point.name, activity.point))
