/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/link.png", :width => "16"}/
= raw tr("{sub_instance_name} is a new sub_instance", "view/activities/_activitysub_instancenew", :sub_instance_name => '<a href="' + activity.sub_instance.website_link + '">' + activity.sub_instance.name + '</a>')
