/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/accept.png", :width => "16"}/
= raw tr("{user_name} no longer opposes {idea_name}", "view/activities/_activityoppositiondelete", :user_name => link_to(activity.user.login, activity.user), :idea_name => link_to(activity.idea.name, activity.idea))
