/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/chart_organisation.png", :width => "16"}/
= raw tr("Recruited {other_user_name} to {instance_name} through {sub_instance_url}", "view/activities/_activitysub_instanceuserrecruited_nouser", :other_user_name => link_to(activity.other_user.login, activity.other_user), :instance_name => current_instance.name, :sub_instance_url => '<a href="http://' + activity.sub_instance.short_name + '.' + current_instance.base_url + '/">' + activity.sub_instance.short_name + '.' + current_instance.base_url + '</a>')
