/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comment_edit.png", :width => "16"}/
= raw tr("Changed the point's title to {point_name}", "view/activities/_activitypointrevisionname_nouser", :point_name => link_to(activity.point.name, point_revision_url(activity.point,activity.revision)))
