/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comments_add.png", :width => "16"}/
= raw tr("Added {point_name} to this idea", "view/activities/_activitypointnew_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.point.name, activity.point), :idea_name => link_to(activity.idea.name, activity.idea))
