/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comment_delete.png", :width => "16"}/
= raw tr("Deleted {point_name}", "view/activities/_activitypointdeleted_nouser", :point_name => link_to(activity.point.name, activity.point))
