/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/star.png", :width => "16"}/
= tr("{idea_name}'s status was updated: {subject}", "model/activity", subject: activity.idea_status_change_log.subject, idea_name: link_to(activity.idea.name, activity.idea))
