- if activity.capital.amount > 0
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/coins.png", :width => "16"}/
  = raw tr("{user_name} earned {count}{currency_short_name} because {count} people stopped ignoring", "view/activities/_activitycapitalignorers", :user_name => link_to(activity.user.login, activity.user), :count => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :other_user_name => link_to(activity.other_user.name, activity.other_user))
- else
  /%img.icon{:border => "0", :height => "16", :src => "/assets/icons/coins_delete.png", :width => "16"}/
  = raw tr("{user_name} lost {count}{currency_short_name} because {count} people are ignoring", "view/activities/_activitycapitalignorers", :user_name => link_to(activity.user.login, activity.user), :count => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :other_user_name => link_to(activity.other_user.name, activity.other_user))
