/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/coins_delete.png", :width => "16"}/
= raw  tr('Capital warning',"capital_activity", :instance_name => current_instance.name, :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name
