/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/sound_mute.png", :width => "16"}/
= raw tr("{user_name} is ignoring someone", "view/activities/_activityignoringnew", :user_name => link_to(activity.user.login, activity.user), :other_user_name => link_to(activity.other_user.login, activity.other_user))
