/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/medal_gold_2.png", :width => "16"}/
= raw tr("This is the fastest rising idea in {tag_name}", "view/activities/_activityissueidearising", :idea_name => link_to(activity.idea.name, activity.idea), :tag_name => '<a href="/issues/' + activity.tag.slug + '">' + tr(activity.tag.title,"model/category") + '</a>')
