/%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/lock_disable.png", :width => "16"}/
= raw tr("{user_name} is on probation for a week due to repeated violations of the <a href='/about/rules'>site rules</a>", "view/activities/_activityuserprobation_noself", :user_name => link_to(activity.user.name, activity.user))
