- if activity.capital.amount > 0
  - if activity.capital.is_undo?
    = raw tr("Earned {capital}{currency_short_name} because undeclareds didn't find {point_name} unhelpful anymore", "view/activities/_activitycapitalpointhelpfulundeclareds_nouser", :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :point_name => link_to(activity.point.name, point_url(activity.point)))
  - else
    = raw tr("Earned {capital}{currency_short_name} because undeclareds found {point_name} helpful", "view/activities/_activitycapitalpointhelpfulundeclareds_nouser", :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :point_name => link_to(activity.point.name, point_url(activity.point)))
- else
  - if activity.capital.is_undo?
    = raw tr("Lost {capital}{currency_short_name} because undeclares didn't find {point_name} helpful anymore", "view/activities/_activitycapitalpointhelpfulundeclareds_nouser", :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :point_name => link_to(activity.point.name, point_url(activity.point)))
  - else
    = raw tr("Lost {capital}{currency_short_name} because undeclares found {point_name} unhelpful", "view/activities/_activitycapitalpointhelpfulundeclareds_nouser", :capital => activity.capital.amount.abs, :currency_short_name => current_instance.currency_short_name, :point_name => link_to(activity.point.name, point_url(activity.point)))
